body {
  background-color: darkblue;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background-color: darkslategray;
  display: grid;
  grid-template-rows: repeat(21, calc(min(80vw, 80vh) / 21));
  grid-template-columns: repeat(21, calc(min(80vw, 80vh) / 21));
  gap: 1px;
}

.cell {
  width: calc(min(80vw, 80vh) / 21);
  height: calc(min(80vw, 80vh) / 21);
  background-color: sandybrown;
  margin: 1px;
}

.snake {
  background-color: darkgreen;
}

.tail {
  background-color: darkgreen;
}

.food.slug {
  background-color: darkolivegreen;
}

.food.rat {
  background-color: chocolate;
}

.food.frog {
  background-color: green;
}

.trap {
  background-color: darkred;
}
